
[mysqld]


user                    = mysql
# port 					= 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
# socket				  = /var/run/mysqld/mysqld.sock
# tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
skip-networking 		= false
bind-address 			= 0.0.0.0
query_cache_size        = 32M
console					= true
log_error				= /var/log/mysql/error.err
character-set-server 	= utf8mb4
collation-server      	= utf8mb4_general_ci

# [mariadb-10.3]